<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <!--meta tag for responsive viewport-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>ManipalCourseWare</title>

  <!-- google fonts link below here-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />

  <!--Bootstrap 4 CSS-->
  <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
  <!-- Our Custom CSS -->
  <link rel="stylesheet" href="css/style.css" >
  <!-- <link rel="stylesheet" href="css/index.css" > -->
  <link rel="stylesheet" href="css/utilities/mouseScroll.css" >
  <link rel="stylesheet" href="css/utilities/spinner.css" >
  <link rel="stylesheet" href="css/utilities/scrollbar.css" >
  <link rel="stylesheet" href="css/loginSignup.css" >
  <link rel="stylesheet" href="css/videoConsole.css" >
  <!-- <link rel="stylesheet" href="css/videoPage.css" > -->
 
  <!--fontawesome icons kitcode below-->
  <script src="https://kit.fontawesome.com/f18f73cc60.js" crossorigin="anonymous"></script>

  <!--Jquery&popperjs link below-->
  <script type="text/javascript" src="js/jquery-3.5.1.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/@popperjs/core@2"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/functionality.js"></script>
</head>
<body >
    <script>
        const errorMessage = new URLSearchParams(window.location.search).get("error");
        if (errorMessage) {
            document.getElementById("error-message").textContent = errorMessage;
        }
    </script>

<!--CSS Spinner-->
<div class="spinner-wrapper">
    <div class="spinner"></div>
</div>

  <div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar" class="sticky-top active">
        <div class="sidebar-logo">
            <img class="img-fluid mx-auto d-block" src="img/logo-icon.png">
        </div>
        <ul class="list-unstyled components">
            <li class="active">
                <a href="/"><i class="fas fa-home"></i>  HOME</a>
            </li>
            <li>
                <a href="/explore"><i class="fas fa-play-circle"></i>  EXPLORE</a>
            </li>
            <li>
                <p>FOLLOW US</p>
            </li>
            <div class="socialmedia-icons">
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-facebook-square"></i></a>
            </div>
        </ul>
        <div class="sidebar-footer">
            <ul class="list-unstyled">
                <li><i class="fa fa-copyright" aria-hidden="true"></i>Copyright 2020</li>
                <li>Made with <span><i class="fa fa-heart" aria-hidden="true"></i></span> by Abdul Rehaman</li>
            </ul>
        </div>
    </nav>

    <!-- Page Content Holder -->
    
    <div id="content">
        <nav class="navbar sticky-top navbar-expand-sm topbar-custom-video position-fixed top-0 w-100 px-0">
            <div class="container-fluid justify-content-start ">
                <button type="button" id="sidebarCollapse" class="navbar-btn active">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <a class="navbar-brand mr-auto" href="/home">ManipalCourseWare</a>
                <!-- <div class="crowdsource ">
                    <ul class="nav">
                      <li class="nav-items">
                          <a href="#" class="btn crowdsource-btn" role="button">CROWDSOURCE</a>
                      </li>
                    </ul>
                  </div> -->
            </div>
        </nav>
        <div class="container-fluid main-form">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-4 left-column w-40">
                    <img src="img/online-education.png" alt="Crowdsource image">
                    <h2 class="text-center">ManipalCourseWare</h2>
                    <p class="text-center">This is where you can log in or sign up to access your data.</p>
                </div>
                <div class="col-lg-4  right-column">
                    
                        <div class="card-body">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="login-tab" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="signup-tab" data-toggle="tab" href="#signup" role="tab" aria-controls="signup" aria-selected="false">Sign Up</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
                                    <form action="/login" method="post">
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Password</label>
                                            <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password">
                                        </div>
                                        <button type="submit" class="btn btn-submit btn-primary">Submit</button>
                                    </form>
                                </div>
                                <div class="tab-pane fade" id="signup" role="tabpanel" aria-labelledby="signup-tab">
                                    <form action="/signup" method="post">
                                        <div class="form-group">
                                            <label for="name">Name</label>
                                            <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Password</label>
                                            <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password">
                                        </div>
                                        <button type="submit" class="btn btn-submit btn-primary">Sign Up</button>
                                    </form>
                                </div>
                                
                            </div>
                        </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
    </div>
    
    <!-- <div class="footer">
        <ul class="list-unstyled">
            <li><i class="fa fa-copyright" aria-hidden="true"></i>Copyright 2022</li>
            <li>Made with <span><i class="fa fa-heart" aria-hidden="true"></i></span> by Abdul Rehaman</li>
        </ul>
    </div> -->
</div>
</body>
</html>
