@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    user-select: none;
    background-color:#ADD8E6;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */



p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}


#sidebar {
    min-width: 270px;
    max-width: 270px;
    height:100vh;
    background: linear-gradient(180deg, #280886 35.08%, rgba(40, 8, 134, 0.65) 53.12%, rgba(40, 8, 134, 0.47) 79.17%, rgba(40, 8, 134, 0.37) 99.95%);
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}

#sidebar.active {
    margin-left: -270px;
    transform: rotateY(100deg);
    display: block;
}

#sidebar .sidebar-logo {
    padding-top: 10%;
    padding-bottom:10%;
    
}

#sidebar .sidebar-logo img {
    box-shadow: 0px 7px 6px rgba(0, 0, 0, 0.6);
    border-radius: 33px;
}

#sidebar ul li a {
    padding:5% 10%;
    font-size: 1.1em;
    font-style: normal;
    display:block;
    text-decoration: none;
}
#sidebar ul li a:hover {
    color: #120341;
    background: #fff;
}

#sidebar ul li p{
    color:#fff;
    padding-top:25%;
    padding-bottom:2%;
    padding-left:80px;
    font-size: 1.3em;
    
}

.socialmedia-icons{
    padding-left:40%;
    
}

.sidebar-footer{
    color:#fff;
    text-align: center;
    padding:5%;
}

.sidebar-footer span{
    color:red;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 0px;
    min-height: 100vh;
    transition: all 0.3s;
    background: linear-gradient(180deg, #410ED3 0%, #410ED3 11.78%, rgba(65, 14, 211, 0.9) 23.83%, rgba(65, 14, 211, 0.81) 34.2%, rgba(65, 14, 211, 0.7) 45.19%, rgba(65, 14, 211, 0.6) 56.19%, rgba(65, 14, 211, 0.51) 67.61%, rgba(65, 14, 211, 0.33) 78.39%, rgba(65, 14, 211, 0.12) 89.18%, rgba(65, 14, 211, 0.11) 100%);
    background-blend-mode: multiply;
}

.topbar-custom{
    background-color: #3100C9;
    height: 60px;
}



.navbar-brand{
    color:#fff;
    font-size:1.4em;
}

.navbar-brand:hover{
    color: #fff;
    text-shadow: 0 0 5px #fff,
                0 0 10px #fff,
                0 0 10px #fff,
                0 0 10px #fff;
}



/* .topbutton1 {
    background-color: #F31244;
    border-radius: 2em;
    border-width: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    
}

.topbutton2{
    background-color: #F31244;
    border-radius: 2em;
    border-width: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    
} */


#sidebarCollapse {
    width: 40px;
    height: auto;
    background:#3100C9;
    cursor: pointer;
}

#sidebarCollapse span {
    width: 100%;
    height: 3px;
    margin: 0 auto;
    display: block;
    background: #fff;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(2px, -2px);
}



#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}


/* ---------------------------------------------------
    SIDEBAR MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -273px;
    }
    #sidebar.active {
        margin-left: -273px;
        transform: none;
    }
    /* #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 0;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(2px, -2px);
    } */
    #sidebarCollapse {
        display: none;
    }
    .navbar-brand{
        font-size: 20px;
        margin-left: 10px;
    }
}

/* efe */

.cloud img{
    width:100%;
    height: auto;
}

.section2 h1{
    color: #fff;
    font-size: 3em;
    font-family: sans-serif;
    font-weight: 500;
    margin-right:40%;
    padding-left: 5%;
    padding:1%;
}

.btn-custom2{
    background-color: #F31244;
    color:#fff;
    font-size:1.1em;
    font-weight: 600;
    margin-left:5%;
    padding:2% 4%;
    border-radius: 2em;
    border-width: 0px;
    box-shadow: 0px 4px 4px #552FD1;
    background-color: #F31244
}

.google-play{
    margin-left: 6%;
    margin-top:15%;
}

.download-app{
    padding-right: 0%;
    margin-left:5%;
    margin-top:5%;
    padding-left:10%;
}

.section2{
    
    padding-bottom: 10%;
}

/* ---------------------------------------------------
    FOOTER
----------------------------------------------------- */

.footer{
    background-color: #280886;
    height: 190px;
}

.footer ul{
    text-align: center;
    padding:5%;
    color: #fff;
}

.footer ul span{
    color:red;
}

.crowdsource{
    margin-right: 40px;
}

.crowdsource-btn{
    
    color:#fff;
    font-size:1.1em;
    font-weight: 500;
    padding:3% 3%;
    border-width: 2px;
    
    background-color: red;
    border-color: red;
}

.crowdsource-btn:hover{
    
    color: white;
    background-color: transparent;
    border-color: white; 
}

@media (max-width: 768px) {
    .crowdsource{
        margin-right: 10px;
    }
}