/* ---------------------------------------------------
    VIDEO LIST
----------------------------------------------------- */
.heading1 {
    color:#fff;
    text-align: center;
}

.heading2{
    color:#fff;
    text-align: center;
}

.first-bg{
    margin:0% 5% 0% 5%;
    padding:0px;
}

.online-education{
    width: 65%;
    padding:0px;
    height: auto;
}

.bg-card{
    color: white;
    padding:20px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.7px);
    -webkit-backdrop-filter: blur(3.7px);
    border: 1px solid rgba(255, 255, 255, 0.22);
}


.mainmenu-btn{
    background-color: #F31244;
    color:#fff;
    font-size:1em;
    font-weight: 600;
    padding:1% 3%;
    margin-left: 40%;
    border-radius: 10px;
    border-width: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.btn-card {
    border: none;
    background: none;
    cursor: pointer;
    width: 100%;
}

/* .btn-card:hover{
    
    background-color: #ADD8E6;
} */

.btn-card:focus{
    outline: 0;
}

.video-card{
    margin: 20px;
    padding-top:3%;
    padding-bottom: 3%;
    color: black;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}


.video-heading{
    padding-left: 5%;
    padding-right: 5%;
}

.video-img {
    padding-left: 20%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media (max-width: 768px){
    .heading1{
        font-size: 2em;
    }
    .online-education{
        display: block;
        margin: 0 auto;
    }
    .mainmenu-btn{
        display: block;
        justify-content: center;
        margin: 5% auto;
        padding: 5%;
    }
    .video-card{
        padding: 5%;
        font-size: 1.5em;
    }
  }

