@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;

}



p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}


#sidebar {
    min-width: 270px;
    max-width: 270px;
    height:100vh;
    background: linear-gradient(180deg, #280886 35.08%, rgba(40, 8, 134, 0.65) 53.12%, rgba(40, 8, 134, 0.47) 79.17%, rgba(40, 8, 134, 0.37) 99.95%);
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}

#sidebar.active {
    margin-left: -270px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-logo {
    padding-top: 10%;
    padding-bottom:10%;
    
}

#sidebar .sidebar-logo img {
    box-shadow: 0px 7px 6px rgba(0, 0, 0, 0.6);
    border-radius: 33px;
}

#sidebar ul li a {
    padding:5% 10%;
    font-size: 1.1em;
    font-style: normal;
    display:block;
    text-decoration: none;
}
#sidebar ul li a:hover {
    color: #120341;
    background: #fff;
}

#sidebar ul li p{
    color:#fff;
    padding-top:25%;
    padding-bottom:2%;
    padding-left:80px;
    font-size: 1.3em;
    
}

.socialmedia-icons{
    padding-left:40%;
    
}

.sidebar-footer{
    color:#fff;
    text-align: center;
    padding:5%;
}

.sidebar-footer span{
    color:red;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 0px;
    min-height: 100vh;
    transition: all 0.3s;
    background: linear-gradient(180deg, #410ED3 0%, #410ED3 11.78%, rgba(65, 14, 211, 0.9) 23.83%, rgba(65, 14, 211, 0.81) 34.2%, rgba(65, 14, 211, 0.7) 45.19%, rgba(65, 14, 211, 0.6) 56.19%, rgba(65, 14, 211, 0.51) 67.61%, rgba(65, 14, 211, 0.33) 78.39%, rgba(65, 14, 211, 0.12) 89.18%, rgba(65, 14, 211, 0.11) 100%);
    background-blend-mode: multiply;
}

.topbar-custom{
    background-color: #3100C9;
    height: 3.5%;
}



.navbar-brand{
    color:#fff;
    font-size:1.4em;
}



.topbutton1 {
    background-color: #F31244;
    border-radius: 2em;
    border-width: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    
}

.topbutton2{
    background-color: #F31244;
    border-radius: 2em;
    border-width: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    
}


#sidebarCollapse {
    width: 3%;
    height: auto;
    background:#3100C9;
    cursor: pointer;
}

#sidebarCollapse span {
    width: 90%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #fff;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}



#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -300px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 0;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }

}

/* ---------------------------------------------------
    LANDING PAGE
----------------------------------------------------- */

.landing-text-heading {
    color: #fff;
    font-size: 4em;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    text-align: center;
    margin-right: 51%;
    margin-left: 9%;
    padding:1%;
}

.btn-custom1{
    background-color: #F31244;
    color:#fff;
    font-size:1.1em;
    font-weight: 600;
    margin-left: 20%;
    padding:1% 3%;
    border-radius: 2em;
    border-width: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.landing-text-small{
    color: #fff;
    font-family: sans-serif;
    font-size:1.25em;
    font-weight: 200;
    margin-top: 1%;
    margin-left:4%;
    margin-right: 48%;
    padding: 1%;
    text-align: center;
}


.illustration {
    width: 32%;
    padding:0px;
    margin-top:0.5%;
    margin-right:14%;
    height: auto;
    float:right;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* ---------------------------------------------------
    SCROLL ICON -START
----------------------------------------------------- */
.mouse-icon {
    border: 3px solid #fff;
    border-radius: 16px;
    height: 44px;
    width: 26px;
    display: block;
    z-index: 10;
    opacity: 0.7;
    margin-left: 27%;
  }
  .mouse-icon .wheel {
    -webkit-animation-name: drop;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    -webkit-animation-name: drop;
            animation-name: drop;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
            animation-play-state: running;
  }
  .mouse-icon .wheel {
    position: relative;
    border-radius: 10px;
    background: #fff;
    width: 4px;
    height: 6px;
    top: 4px;
    margin-left: auto;
    margin-right: auto;
  }
  @-webkit-keyframes drop {
    0% {
      top: 5px;
      opacity: 0;
    }
    30% {
      top: 10px;
      opacity: 1;
    }
    100% {
      top: 25px;
      opacity: 0;
    }
  }
  @keyframes drop {
    0% {
      top: 5px;
      opacity: 0;
    }
    30% {
      top: 10px;
      opacity: 1;
    }
    100% {
      top: 25px;
      opacity: 0;
    }
  }


/* ---------------------------------------------------
    SCROLL ICON -END
----------------------------------------------------- */


.cloud img{
    width:100%;
    height: auto;
}

.section2 h1{
    color: #fff;
    font-size: 3em;
    font-family: sans-serif;
    font-weight: 500;
    margin-right:40%;
    padding-left: 5%;
    padding:1%;
}

.btn-custom2{
    background-color: #F31244;
    color:#fff;
    font-size:1.1em;
    font-weight: 600;
    margin-left:5%;
    padding:2% 4%;
    border-radius: 2em;
    border-width: 0px;
    box-shadow: 0px 4px 4px #552FD1;
    background-color: #F31244
}

.google-play{
    margin-left: 6%;
    margin-top:15%;
}

.download-app{
    padding-right: 0%;
    margin-left:5%;
    margin-top:5%;
    padding-left:10%;
}

.section2{
    
    padding-bottom: 10%;
}

/* ---------------------------------------------------
    FOOTER
----------------------------------------------------- */

.footer{
    background-color: #280886;
    height: 10%;
}

.footer ul{
    text-align: center;
    padding:5%;
    color: #fff;
}

.footer ul span{
    color:red;
}

/* ---------------------------------------------------
    EXPLORE PAGE
----------------------------------------------------- */
.explore-heading{
    color: #fff;
    font-size: 3em;
    text-align: center;
}

.explore-disclaimer{
    color: #fff;
    font-size: 1.2em;
    text-align: center;
}

.explore-page{
    margin:4% 7%;
    color: #fff;
}

.explore-page h3 {
    font-size: 23px;
    text-align: center;
}

.explore-page h4{
    font-size:18px;
    text-align: center;
}

.class-option{
    margin-right: 3%;
    background:linear-gradient(#6635f2,#cbbafa);
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    padding: 7% 7%;

}


.section-option{
    margin-right: 3%;
    background:linear-gradient(#6635f2,#cbbafa);
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    padding: 7% 7%;

}


.subject-option{
    margin-right: 3%;
    background:linear-gradient(#6635f2,#cbbafa);
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    padding: 7% 7%;

}

.circle{
    background: #5739B7;
    width:40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    float: left;
}

.circle p{
    color: #fff;
    text-align: center;
    margin-top: 15px;
}

.form-control{
    background-color: #cbbafa;
    width: 80%;
    height: 50px;
    margin-left: 10%;
    border:0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

/* ---------------------------------------------------
    VIDEO LIST
----------------------------------------------------- */
.heading1 {
    color:#fff;
    text-align: center;
}

.heading2{
    color:#fff;
    text-align: center;
}

.first-bg{
    margin:5% 5% 0% 5%;
    padding:0px;
}

.online-education{
    width: 70%;
    padding:0px;
    height: auto;
}

.second-bg{
    height: 30%;
    background-color: linear-gradient(#280886,#fff);
}